*{
    font-family: 'Balsamiq Sans', cursive;
}

li{
    list-style-type: none;
    margin: 2vw 0;
    font-size: 3vh;
  }
  
 li a{
    text-decoration: none;
    padding: 2vw;
    color:white;
    text-align: center;
  }
  
  nav{
    width: 100vw;
    background-color:black;
    text-align: center;
  }
  
  ul{
    display: block;
    margin: 0;
    padding: 0;
    
    display: flex;  
  }
  p,h2{
      margin-left:100px;
      margin-right: 100px;
  }
  h1{
    margin-left:50px;
    
  }
  hr{
      width: 50%;
  }
  button{
    display: none;
  }
  li a:hover{
      text-decoration: underline;
  }
li a:active{
    background-color: blue;
}
  footer{
      background-color: black;
      text-align: center;
      color: white;
      margin:1px;
      padding: 2px;
      font-size:3vh;
  }
.mySlides{
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.terracota{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 100px;
    width: 150px;
    float: left;
}
.p1{
    padding-top:25px;
    padding-left: 25px;
    margin-left:100px;
      margin-right: 100px;
}
video{
    margin-left: 50px;
}
